.main-wiki {
  height: 1000px;

  .main-wiki__tittle {
    display: flex;
    justify-content: center;
  }

  .main-wiki__loading {
    display: flex;
    justify-content: center;
  }

  ul {
    height: 850px;
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 5px;

    li {
      border: 2px solid rgb(35, 106, 106);
      border-radius: 5px;
      text-align: justify;
    }
  }

  .main-wiki__botones-paginacion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;

    button {
      background-color: #696969;
      color: #dadada;
      border: 1px black solid;
      border-radius: 5px;
      padding: 5px;
      cursor: pointer;
    }
    button:hover {
      background-color: #475172;
    }
    button:active {
      background-color: #4d64b0;
    }
  }
}