h2 {
  margin: 0 auto;
  margin-bottom: 5px;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  padding-top: 20px;
  padding-bottom: 20px;

  &__inputs {
    @include flex(column, center, flex-start);
    padding-top: 5px;
    width: 100%;

    input {
      width: 100%;
      border-radius: 4px;
    }
  }
}