.main-profile {
  @include flex(column, center, center, 25px);
  background-color: $backgroundColor;
  padding: 50px 0 50px 0;

  &__container {
    @include flex(column, center, center);
    background-color: rgb(116, 25, 111);
    padding: 30px 30px 30px 30px;
    border-radius: 10px;
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    h1 {
      text-align: center;
      margin: 0 0 40px 0;
      color: rgb(246, 183, 243);
      font-size: 38px;
    }
    
    &__data {
      @include flex(column, center, center, 10px);
      
      h4 {
        margin: 0;
        font-size: 21px;
        color: rgb(252, 223, 254);;
      }
    }
    
    button {
      border: 0px solid black;
      border-radius: 5px;
      background-color: rgb(58, 183, 0);
      margin: 40px 0 10px 0;
      padding: 12px 22px 12px 22px;
      font-size: 20px;
      cursor: pointer;
      color: rgb(72, 12, 63);
    }
    button:hover {
      background-color: rgb(114, 210, 69);
    }
  }
}