.main-wiki-breeds {
  min-height: 80vh;
  height: 100%;
  background-color: $backgroundColor;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .main-wiki-breeds__up-page {
    position: fixed;
    bottom: 200px;
    right: 2.5%;
    font-size: 35px;
    width: 45px;
    height: 45px;
    background-color: rgb(62, 177, 45);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    color: rgb(252, 223, 254);
    cursor: pointer;
    border: 0;
    border-radius: 7px;
    text-align: center;
    padding: 3px 5px 8px 5px;
  }
  .main-wiki-breeds__up-page:hover {
    background-color: rgb(42, 139, 27);
  }

  h1 {
    color: rgb(232, 135, 227);
    font-size: 50px;
    padding: 5px 0 0 0;
  }

  h3 {
    color: rgb(252, 223, 254);
  }

  .main-wiki-breed__filters {
    @include flex(row, center, center, 25px);
    margin-top: 20px;
    margin-bottom: 40px;
    width: 70%;
    
    select {
      background-color: rgb(107, 29, 103);
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      border: 0;
      border-radius: 15px;
      width: 50%;
      padding: 10px;
      color: #eec5f0;
      font-size: 16px;
      cursor: pointer;
    }
    select:hover {
      background-color: rgb(138, 43, 133);
    }
  }


  .main-wiki-breeds__section-breeds {
    width: 80%;
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    row-gap: 30px;
    column-gap: 4%;
    padding: 20px 10% 30px 10%;

    .no-result {
      text-align: center;
      color: #eec5f0;
    }

    &__container {
      @include flex(column, center, space-between);
      text-align: center;
      padding: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 310px;
      background-color: rgb(118, 39, 114);
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      border: 0;
      border-radius: 10px;

      &__data-breed {
        padding-top: 10px;

        p {
          color: #eec5f0;
          margin-top: 0;
          margin-bottom: 15px;
          font-size: 18px
        }
      }

      .container-buttons {
        @include flex(column, center, center, 12px);

        .delete-button {
          border: 0;
          border-radius: 5px;
          background-color: rgb(210, 42, 42);
          padding: 8px 18px 8px 18px;
          font-size: 15px;
          cursor: pointer;
          color: rgb(255, 207, 248);
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        }
        .delete-button:hover {
          background-color: rgb(115, 0, 0);
        }
  
        .add-button {
          border: 0;
          border-radius: 5px;
          background-color: rgba(220, 220, 47, 0.973);
          padding: 8px 18px 8px 18px;
          font-size: 15px;
          cursor: pointer;
          color: rgb(79, 34, 72);
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        }
        .add-button:hover {
          background-color: rgb(174, 174, 69);  
        }
  
        .view {
          text-decoration: none;
          color: rgb(66, 8, 60);
          background-color: rgb(168, 39, 168);
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          padding: 8px 12px 8px 12px;
          border: 0;
          border-radius: 10px;
          font-size: 17px;
        }
        .view:hover {
          background-color: rgb(212, 111, 212);
        }
      }
    }
  }

  .section-contador-paginacion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 20px;

    button {
      background-color: rgb(62, 177, 45);
      color: rgb(62, 9, 67);
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      border: 0;
      border-radius: 10px;
      cursor: pointer;
      padding: 12px;
      font-size: 18px;
    }
    button:hover {
      background-color: rgb(42, 139, 27);
    }

    p {
      font-size: x-large;
      color: rgb(223, 182, 227);
    }
  }
}