header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  //background-color: rgb(130, 130, 130);
  background-color: $nuevoRosaOscuro;
  color: rgb(255, 236, 236);
  height: 90px;
  padding: 10px 40px 10px 40px;

  img {
    width: 60px;
  }
  
  nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 22px;

    a {
      text-decoration: none;
      color: inherit;
      font-size: large;
    }
    a:hover {
      color: rgb(255, 163, 179);
    }
    
    .logout-button {
      border: 0px solid black;
      border-radius: 5px;
      //background-color: rgb(255, 165, 180);
      background-color: rgb(114, 210, 69);
      padding: 10px 16px 10px 16px;
      font-size: 17px;
      cursor: pointer;
    }
    .logout-button:hover {
      //background-color: rgb(255, 111, 135);
      background-color: rgb(58, 183, 0);
    }
  }
}